@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-family: "Raleway-italic", sans-serif;
  src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

* {
  font-family: "ClashDisplay-Variable", "Raleway", sans-serif, monospace;
  font-weight: 300;
  color: white;
}

body {
  background-color: black;
  z-index: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

header a:hover {
  font-weight: 600;
}

header .container-title {
  margin-left: 2%;
  min-width: 150px;
}

header .container-title h1 {
  font-family: "ClashDisplay-Variable", "Raleway", monospace;
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

header nav a {
  width: 30%;
  text-align: center;
}

.container {
  margin: 2% 2%;
}

.container h2 {
  font-size: 24px;
  font-weight: 400;
}

.container-contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2%;
}

.container-contact-btn a {
  background: #1b2129;
  padding: 10px;
  width: 80px;
}

.container-contact-btn a:hover {
  background: linear-gradient(138deg, #1b2129 19%, #52607c 100%);
}

.container-contact-btn a:active {
  background: linear-gradient(310deg, #1b2129 19%, #52607c 100%);
}

.container .burger-menu {
  position: fixed;
  top: 25px;
  right: 0;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .burger-menu span {
  z-index: 2;
  margin-top: 6px;
  height: 1px;
  background-color: white;
}

.container .burger-menu span:nth-of-type(1) {
  width: 35px;
}

.container .burger-menu span:nth-of-type(2) {
  width: 30px;
}

.container .burger-menu span:nth-of-type(3) {
  width: 25px;
}

.container__hero {
  background-color: white;
  text-align: center;
  min-height: 400px;
}

.container__hero-home {
  height: 500px;
  overflow: hidden;
}

.container__hero-home-video video {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.container__hero-home-overlay {
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: overlay;
}

.container__hero-home-overlay span {
  color: black;
  font-size: 35px;
  font-weight: 500;
}

.container__hero-home-overlay span em {
  mix-blend-mode: darken !important;
  color: #1b2129;
  font-weight: 600;
}

.container__expertise {
  margin-top: 50px;
}

.container__expertise article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 250px;
  margin: 50px 0;
}

.container__expertise article .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.container__expertise article .legend h3 {
  font-size: 20px;
  font-weight: 500;
  color: #52607c;
}

.container__expertise article .legend p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-size: 18px;
}

.container__expertise article .legend p strong {
  font-weight: 500;
}

.container__expertise article .legend .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container__expertise article .legend .tools span {
  margin: 0 5px;
}

.container__expertise article .legend .tools img:first-of-type {
  width: 150px;
  height: auto;
}

.container__expertise article .legend .tools img:last-of-type {
  width: 35px;
  height: auto;
}

.container__expertise article .img {
  width: 65%;
  overflow: hidden;
  -webkit-animation: box-pop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: box-pop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: relative;
}

.container__expertise article .img-overlay {
  position: absolute;
  background-color: rgba(27, 33, 41, 0.8);
  font-weight: 500;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0%;
}

.container__expertise article .img-overlay h4 {
  font-weight: 600;
  font-weight: 20px;
}

.container__expertise article .img-overlay-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 5px;
}

.container__expertise article .img-overlay-legend h5 {
  font-weight: 500;
  font-size: 18px;
}

.container__expertise article .img-overlay-legend p {
  font-weight: 300;
}

.container__expertise article .img-overlay-legend .block {
  width: 30%;
}

.container__expertise article .img img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100%;
  -webkit-transform: translateY(-18%);
          transform: translateY(-18%);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.container__expertise article .img-3 img {
  -webkit-transform: translateY(-38%);
          transform: translateY(-38%);
}

.container__expertise article .img:hover > .img-overlay {
  -webkit-animation: expertise-overlay 0.3s forwards;
          animation: expertise-overlay 0.3s forwards;
}

.container__expertise article .img:focus > .img-overlay {
  -webkit-animation: expertise-overlay 0.3s forwards;
          animation: expertise-overlay 0.3s forwards;
}

@media (hover: none) {
  .container__expertise article .img > .img-overlay {
    -webkit-animation: expertise-overlay 0.3s forwards;
            animation: expertise-overlay 0.3s forwards;
  }
}

.container__hero-meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__hero-meet .circle-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #1b2129;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  -webkit-box-shadow: -13px -1px 1px #262f41;
          box-shadow: -13px -1px 1px #262f41;
}

.container__hero-meet .circle-bg img {
  min-width: 50%;
  min-height: 50%;
}

.container__hero-meet .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__hero-meet .legend p :first-of-type {
  font-size: 20px;
}

.container__hero-meet .legend strong {
  font-weight: 500;
  font-style: italic;
}

.container__hero-meet .legend p:last-of-type {
  font-size: 14px;
  font-style: italic;
}

.container__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
}

.container .box-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 50px;
}

.container .box-theme-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container .box-theme-header h3 {
  margin-left: 20px;
  font-weight: 500;
}

.container .box-theme-header img {
  width: 40px;
  height: 40px;
}

.container .box-theme-legend {
  font-size: 16px;
}

.container .box-theme-legend strong {
  font-weight: 500;
}

.container__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__country aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__country aside .box-country {
  margin-top: 30px;
}

.container__country aside h3 {
  font-weight: 600;
  margin: 0;
}

.container__country aside p {
  font-weight: 400;
}

.container__country-img {
  width: 70%;
  overflow: hidden;
}

.container__country-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.container__learning {
  margin: 5% 4%;
}

.container__production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
}

.container__production .box-production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 40px;
  min-width: 250px;
  cursor: pointer;
}

.container__production .box-production a {
  text-decoration: none;
}

.container__production .box-production-img {
  overflow: hidden;
}

.container__production .box-production-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}

.container__production .box-production-legend h3 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 500;
}

.container__production .box-production-legend p {
  margin: 0;
}

.container-ref {
  margin: 5% 4%;
}

.container__reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.container__reference-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.container__reference-left .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container__reference-left .box-reference {
  background-color: white;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__reference-left .box-reference h3 {
  font-weight: 600;
  font-size: 20px;
}

.container__reference-left .box-reference h3,
.container__reference-left .box-reference span,
.container__reference-left .box-reference a {
  color: black;
}

.container__reference-left .box-reference a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.container__reference-left .box-reference a:hover {
  color: #52607c;
}

.container__reference-left .box-reference-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__reference-left .box-reference-header span,
.container__reference-left .box-reference-header img {
  margin-left: 10px;
}

.container__reference-left .box-reference-header span {
  font-weight: 500;
}

.container__reference-left .box-reference-header img {
  width: 80px;
}

.container__reference-left .box-reference-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__reference-right {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__contact {
  margin: 4%;
}

.container__contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container__contact-title span {
  font-weight: 500;
  margin-left: 10px;
}

.container__contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
}

.container__contact-main aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__contact-main aside h3 {
  font-size: 22px;
  font-weight: 500;
}

.container__contact-main .form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b2129;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
}

.container__contact-main .form-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  width: 90%;
}

.container__contact-main .form-contact-container label {
  font-weight: 500;
}

.container__contact-main .form-contact-container input,
.container__contact-main .form-contact-container textarea {
  background-color: black;
  border: solid 1px white;
}

.container__contact-main .form-contact-container input {
  height: 30px;
}

.container__contact-main .form-contact .form-btn {
  top: 15%;
  left: -20%;
  position: relative;
}

.container__contact-main .form-contact .form-btn input {
  padding: 20px 20px;
  color: black;
  font-weight: 600;
}

.container__prod {
  margin: 5% 4%;
  width: 90%;
}

.container__prod .arrow-box {
  margin: 30px 0;
}

.container__prod .arrow-box .fa-chevron-circle-left {
  font-size: 30px;
  cursor: pointer;
}

.container__prod .arrow-box .fa-chevron-circle-left:hover {
  color: #52607c;
}

.container__prod .prod-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0%;
  left: 00%;
  background-color: black;
  gap: 10%;
  margin-bottom: 15px;
}

.container__prod .prod-box-img {
  width: 40% !important;
  overflow: hidden;
}

.container__prod .prod-box-img img {
  width: 100%;
  overflow: hidden;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__prod .prod-box aside {
  width: 50% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__prod .prod-box aside h3 {
  font-weight: 600;
  font-size: 24px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container__prod .prod-box aside span {
  font-size: 18px;
}

.container__prod .prod-box aside em {
  font-weight: 500;
}

.container__prod .prod-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container__prod .prod-btn a {
  width: 50% !important;
  text-decoration: none;
  background-color: white;
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  padding: 10px 5px;
  font-weight: 500;
}

.container__prod .prod-btn a:hover {
  background: linear-gradient(138deg, #1b2129 19%, #52607c 100%);
  color: white;
}

footer {
  background-color: #1b2129;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-top: 100px;
}

footer .icon {
  color: white;
  margin: 0px 30px;
  font-size: 30px;
  width: 30px;
}

footer .icon:hover {
  font-size: 35px;
}

.divider-ban {
  width: 100%;
  height: 100px;
  background-color: #1b2129;
}

.box-img {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 55%;
}

.box-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 300px;
  height: auto;
  position: relative;
  image-orientation: 90deg;
}

.hidden {
  display: none !important;
}

@-webkit-keyframes expertise-overlay {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes expertise-overlay {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */