// Fonts: Montserrat
.bg-red{
    background-color: red;
}

.bg-blue{
    background: blue;
}
$secondary : #1B2129;
$tertiary : #52607C;
$gradient: linear-gradient(138deg, rgba(27,33,41,1) 19%, rgba(82,96,124,1) 100%);
$gradient2:  linear-gradient(310deg, rgba(27,33,41,1) 19%, rgba(82,96,124,1) 100%);
@font-face {
  font-family: "Montserrat", "Courier New", Courier, monospace;
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-family: "Montserrat-italic", Courier New, Courier, monospace;
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}

* {
  font-family: "Montserrat", "Courier New", Courier, monospace;
  font-weight: 300;
  color :white;
}
body{
    background-color: black;
    z-index: 0;
}


header{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        &:hover{
            font-weight: bold;
        }
    }
    .container-title{
        margin-left: 2%;
            min-width: 150px;
        h1 {
            font-size: 26px;
            font-weight: 600;
            font-style: italic;
          }
          
    }
    
      nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        a{
        width: 30%;
        
        
        text-align: center;
        
        }
        
        
    }    
}


.container{
    margin: 2% 2%;
    
    &-contact-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2%;
        
        a{
            background: $secondary;
            padding: 10px;
            width: 80px;
            &:hover{
                background: $gradient;
            }
            &:active{
                background: $gradient2;
            }
        }
    }
    .burger-menu{
        position: fixed;
        top: 25px;
        right: 0;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span{
            z-index: 2;
            margin-top: 6px;
            height: 1px;
            background-color: white;
            
            &:nth-of-type(1){
                width: 35px;
            }
            &:nth-of-type(2){
                width: 30px;
            }
            &:nth-of-type(3){
                width: 25px;
            }
        }
    }
    &__hero{
        background-color: white;
        text-align: center;
        min-height: 400px;
        &-home{
            height: 500px;
            overflow: hidden;
            &-video{
                video{
                    object-position: center;
                    object-fit: cover!important;
                    
                }
            }
            &-overlay{
                z-index: 1;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%,-50%);
                mix-blend-mode: overlay;
                span{
                    color: black;
                    font-size: 35px;
                    font-weight: 500;
                    em{
                        mix-blend-mode: darken!important;
                        color: $secondary;
                        font-weight: 600;
                    }
                }
            }
            
        }
        
    }
    &__expertise{
        margin-top: 50px;
        h2{
            font-size: 24px;
            font-weight: 700;
        }
        article{
            display: flex;
            justify-content: space-between;
            height: 200px;
            margin: 50px 0;
            .legend{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 35%;
                h3{
                    font-size: 18px;
                    font-weight: 500;
                    color: $tertiary;
                }
                p{
                    margin-block-start: 0;
                    font-size: 16px;
                    strong{
                        font-weight: 500;
                    }
                }
                
            }
            .img{
                width: 60%;
                overflow: hidden;
                img{
                    object-fit: cover !important;
                    width: 100%;
                    transform: translateY(-18%);
                    filter: grayscale(100%);
                }
            }
        }
    }
}




.hidden {
  display: none!important;
}
