@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-family: "Raleway-italic", sans-serif;
  src: url("../fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

* {
  font-family: "ClashDisplay-Variable", "Raleway", sans-serif, monospace;
  font-weight: 300;
  color: white;
}

body {
  background-color: black;
  z-index: 0;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

header a:hover {
  font-weight: 600;
}

header .container-title {
  margin-left: 2%;
  min-width: 150px;
}

header .container-title h1 {
  font-family: "ClashDisplay-Variable", "Raleway", monospace;
  font-size: 26px;
  font-weight: 600;
  font-style: italic;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

header nav a {
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header nav {
    display: none;
  }
}

.container {
  margin: 2% 2%;
  /* Icon 1 */
}

.container h2 {
  font-size: 24px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .container h2 {
    text-align: center;
  }
}

.container-contact-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 2%;
}

.container-contact-btn a {
  background: #1b2129;
  padding: 10px;
  width: 80px;
}

.container-contact-btn a:hover {
  background: linear-gradient(138deg, #1b2129 19%, #52607c 100%);
}

.container-contact-btn a:active {
  background: linear-gradient(310deg, #1b2129 19%, #52607c 100%);
}

@media only screen and (max-width: 768px) {
  .container-contact-btn {
    display: none;
  }
}

.container .nav-icon {
  position: fixed;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  right: 0;
  margin-right: 2%;
  top: 2%;
  z-index: 11;
}

@media only screen and (min-width: 768px) {
  .container .nav-icon {
    display: none;
  }
}

.container .nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 35px;
  background: #262f41;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.container .nav-icon span:nth-child(2),
.container .nav-icon span:nth-child(3) {
  top: 15px;
}

.container .nav-icon.open span:nth-child(1) {
  top: 20px;
  width: 0%;
}

.container .nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container__hero {
  background-color: white;
  text-align: center;
  min-height: 400px;
}

.container__hero-home {
  height: 500px;
  overflow: hidden;
}

.container__hero-home-video video {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.container__hero-home-overlay {
  z-index: 1;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: overlay;
}

.container__hero-home-overlay span {
  color: black;
  font-size: 35px;
  font-weight: 500;
}

.container__hero-home-overlay span em {
  mix-blend-mode: darken !important;
  color: #1b2129;
  font-weight: 600;
}

.container__expertise {
  margin-top: 50px;
}

.container__expertise article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 250px;
  margin: 50px 0;
}

.container__expertise article .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.container__expertise article .legend h3 {
  font-size: 20px;
  font-weight: 500;
  color: #52607c;
}

.container__expertise article .legend p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-size: 18px;
}

.container__expertise article .legend p strong {
  font-weight: 500;
}

.container__expertise article .legend .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container__expertise article .legend .tools span {
  margin: 0 5px;
}

.container__expertise article .legend .tools img:first-of-type {
  width: 150px;
  height: auto;
}

.container__expertise article .legend .tools img:last-of-type {
  width: 35px;
  height: auto;
}

.container__expertise article .img {
  width: 65%;
  overflow: hidden;
  -webkit-animation: box-pop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: box-pop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: relative;
  height: auto !important;
  background-image: none;
}

@media only screen and (max-width: 768px) {
  .container__expertise article .img {
    background-color: rgba(27, 33, 41, 0.8);
    padding: 10px;
    margin: 20px 0;
  }
}

.container__expertise article .img-overlay {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .container__expertise article .img-overlay {
    position: absolute;
    background-color: rgba(27, 33, 41, 0.8);
    font-weight: 500;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    opacity: 0%;
  }
  .container__expertise article .img-overlay .block {
    width: 80%;
  }
}

.container__expertise article .img-overlay h4 {
  font-weight: 600;
  font-weight: 20px;
}

.container__expertise article .img-overlay-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .container__expertise article .img-overlay-legend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.container__expertise article .img-overlay-legend h5 {
  font-weight: 500;
  font-size: 18px;
}

.container__expertise article .img-overlay-legend p {
  font-weight: 300;
}

.container__expertise article .img-overlay-legend .block {
  width: 80%;
}

.container__expertise article .img img {
  display: none;
}

@media only screen and (min-width: 768px) {
  .container__expertise article .img img {
    display: block;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    width: 100%;
    -webkit-transform: translateY(-18%);
            transform: translateY(-18%);
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
}

.container__expertise article .img-3 img {
  -webkit-transform: translateY(-38%);
          transform: translateY(-38%);
}

.container__expertise article .img:hover > .img-overlay {
  -webkit-animation: expertise-overlay 0.3s forwards;
          animation: expertise-overlay 0.3s forwards;
}

.container__expertise article .img:focus > .img-overlay {
  -webkit-animation: expertise-overlay 0.3s forwards;
          animation: expertise-overlay 0.3s forwards;
}

@media (hover: none) {
  .container__expertise article .img > .img-overlay {
    -webkit-animation: expertise-overlay 0.3s forwards;
            animation: expertise-overlay 0.3s forwards;
  }
}

@media only screen and (max-width: 768px) {
  .container__expertise article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .container__expertise article .legend {
    width: auto;
  }
  .container__expertise article .img {
    width: auto;
    height: 400px;
  }
}

.container__hero-meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__hero-meet .circle-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #1b2129;
  border-radius: 50%;
  width: 35%;
  -webkit-box-shadow: -13px -1px 1px #262f41;
          box-shadow: -13px -1px 1px #262f41;
}

@media only screen and (max-width: 768px) {
  .container__hero-meet .circle-bg {
    width: 65%;
  }
}

.container__hero-meet .circle-bg img {
  min-width: 50%;
  min-height: 50%;
}

.container__hero-meet .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__hero-meet .legend p :first-of-type {
  font-size: 20px;
}

.container__hero-meet .legend strong {
  font-weight: 500;
  font-style: italic;
}

.container__hero-meet .legend p:last-of-type {
  font-size: 14px;
  font-style: italic;
}

.container__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
}

@media only screen and (max-width: 768px) {
  .container__theme {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container .box-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .container .box-theme {
    width: 45%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .container .box-theme {
    width: auto;
  }
}

.container .box-theme-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .container .box-theme-header {
    display: block;
    text-align: center;
  }
  .container .box-theme-header h3 {
    margin-left: 0 !important;
  }
}

.container .box-theme-header h3 {
  margin-left: 20px;
  font-weight: 500;
}

.container .box-theme-header img {
  width: 40px;
  height: 40px;
}

.container .box-theme-legend {
  font-size: 16px;
}

.container .box-theme-legend strong {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .container .box-theme-legend {
    width: 80%;
  }
}

.container__country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .container__country-img {
    display: none;
  }
  .container__country aside {
    width: 100% !important;
    background-image: url("../medias/meet/earth-1617121.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__country aside p {
    font-weight: 500 !important;
  }
}

.container__country aside {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__country aside .box-country {
  margin-top: 30px;
}

.container__country aside h3 {
  font-weight: 600;
  margin: 0;
}

.container__country aside p {
  font-weight: 400;
}

.container__country-img {
  width: 70%;
  overflow: hidden;
}

.container__country-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.container__learning {
  margin: 5% 4%;
}

.container__production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .container__production .box-production {
    width: 45% !important;
  }
}

@media only screen and (max-width: 600px) {
  .container__production {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__production .box-production {
    width: 70% !important;
  }
}

.container__production .box-production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 40px;
  min-width: 250px;
  cursor: pointer;
}

.container__production .box-production a {
  text-decoration: none;
}

.container__production .box-production-img {
  overflow: hidden;
}

.container__production .box-production-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}

.container__production .box-production-legend h3 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 500;
}

.container__production .box-production-legend p {
  margin: 0;
}

.container-ref {
  margin: 5% 4%;
}

.container__reference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.container__reference-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .container__reference-left {
    background-image: url("../medias/references/references.jpg");
  }
  .container__reference-left .box-reference {
    background-color: transparent !important;
    border: solid 2px black;
  }
}

.container__reference-left .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container__reference-left .box-reference {
  background-color: white;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__reference-left .box-reference h3 {
  font-weight: 600;
  font-size: 20px;
}

.container__reference-left .box-reference h3,
.container__reference-left .box-reference span,
.container__reference-left .box-reference a {
  color: black;
}

.container__reference-left .box-reference a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.container__reference-left .box-reference a:hover {
  color: #52607c;
}

.container__reference-left .box-reference-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__reference-left .box-reference-header span,
.container__reference-left .box-reference-header img {
  margin-left: 10px;
}

.container__reference-left .box-reference-header span {
  font-weight: 500;
}

.container__reference-left .box-reference-header img {
  width: 80px;
}

.container__reference-left .box-reference-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__reference-right {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .container__reference-right {
    display: none;
  }
}

.container__contact {
  margin: 4%;
}

.container__contact-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media only screen and (max-width: 900px) {
  .container__contact-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container__contact-title span {
  font-weight: 500;
  margin-left: 10px;
}

.container__contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5%;
}

@media only screen and (max-width: 900px) {
  .container__contact-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__contact-main aside {
    width: 90% !important;
    margin: 15px;
  }
  .container__contact-main aside h3, .container__contact-main aside span {
    color: white;
  }
  .container__contact-main aside span {
    font-weight: 500;
  }
  .container__contact-main aside h3 {
    text-align: center;
  }
  .container__contact-main .form-contact {
    width: 80% !important;
    background-image: url("../medias/contact/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__contact-main .form-contact label {
    font-weight: 500;
    background-color: #00000082;
    text-align: center;
    font-size: 18px;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5px 0;
  }
}

.container__contact-main aside {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__contact-main aside h3 {
  font-size: 22px;
  font-weight: 500;
}

.container__contact-main .form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b2129;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px;
}

.container__contact-main .form-contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  width: 90%;
}

.container__contact-main .form-contact-container label {
  font-weight: 500;
}

.container__contact-main .form-contact-container input,
.container__contact-main .form-contact-container textarea {
  background-color: black;
  border: solid 1px white;
}

.container__contact-main .form-contact-container input {
  height: 30px;
}

@media only screen and (min-width: 900px) {
  .container__contact-main .form-contact .form-btn {
    top: 15%;
    left: -20%;
    position: relative;
  }
}

.container__contact-main .form-contact .form-btn input {
  padding: 20px 20px !important;
  color: black;
  font-weight: 600;
  background-color: white !important;
  border: none !important;
  border-radius: 0 !important;
}

.container__prod {
  margin: 5% 4%;
  width: 90%;
}

.container__prod .arrow-box {
  margin: 30px 0;
}

.container__prod .arrow-box .fa-chevron-circle-left {
  font-size: 30px;
  cursor: pointer;
}

.container__prod .arrow-box .fa-chevron-circle-left:hover {
  color: #52607c;
}

.container__prod .prod-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0%;
  left: 00%;
  background-color: black;
  gap: 10%;
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .container__prod .prod-box {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container__prod .prod-box-img {
  width: 40% !important;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .container__prod .prod-box-img {
    width: 80% !important;
  }
}

.container__prod .prod-box-img img {
  width: 100%;
  overflow: hidden;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__prod .prod-box aside {
  width: 50% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .container__prod .prod-box aside {
    width: 80% !important;
  }
}

.container__prod .prod-box aside h3 {
  font-weight: 600;
  font-size: 24px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.container__prod .prod-box aside span {
  font-size: 18px;
}

.container__prod .prod-box aside em {
  font-weight: 500;
}

.container__prod .prod-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .container__prod .prod-btn {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .container__prod .prod-btn a {
    width: 90% !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.container__prod .prod-btn a {
  text-decoration: none;
  background-color: white;
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: center;
  padding: 10px 5px;
  font-weight: 500;
}

.container__prod .prod-btn a:hover {
  background: linear-gradient(138deg, #1b2129 19%, #52607c 100%);
  color: white;
}

@media only screen and (max-width: 768px) {
  .container__prod .prod-btn a {
    width: 80% !important;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .container__prod .prod-btn a {
    width: 50% !important;
  }
}

footer {
  background-color: #1b2129;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin-top: 100px;
}

footer .icon {
  color: white;
  margin: 0px 30px;
  font-size: 30px;
  width: 30px;
}

footer .icon:hover {
  font-size: 35px;
}

.divider-ban {
  width: 100%;
  height: 100px;
  background-color: #1b2129;
}

.box-img {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 55%;
}

.box-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 300px;
  height: auto;
  position: relative;
  image-orientation: 90deg;
}

@media only screen and (max-width: 900px) {
  .box-img img {
    display: none !important;
  }
}

.navMenu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: black;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.navMenu a {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

.navMenu a:hover {
  color: #262f41;
}

.hidden {
  display: none !important;
}

@-webkit-keyframes expertise-overlay {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes expertise-overlay {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */